/*font*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --color-primary-soft-blue: hsl(215, 51%, 70%);
  --color-primary-cyan: hsl(178, 100%, 50%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-very-dark-blue-bg: hsl(217, 54%, 11%);
  --color-neutral-very-dark-blue-bg-card: hsl(216, 50%, 16%);
  --color-neutral-very-dark-blue-line: hsl(215, 32%, 27%);
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  font-weight: var(--font-weight-regular);
}

/*Global configuration*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
